###############################################################
# WhiteSource Unified-Agent configuration file
###############################################################
# GENERAL SCAN MODE: Files and Package Managers
###############################################################
# Organization vitals
######################

projectName=vuln-node-test
productName=Misc

wss.url=https://app-eu.whitesourcesoftware.com/agent

checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false

## This includes part can be ignored since WS uses dependency files anyway
includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.go **/*.h **/*.hpp **/*.hxx **/*.m **/*.mm  **/*.js **/*.php **/*.jar **/
excludes=**/*sources.jar **/*javadoc.jar

case.sensitive.glob=false
followSymbolicLinks=true
